<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                        color="primary"
                        dark
                        v-bind="attrs"
                        v-on="on"
                >
                    Open Dialog
                </v-btn>
            </template>
            <v-list
                    subheader
                    two-line
                    flat
            >
                <v-subheader>Select Product To add to Shipment</v-subheader>
                

            </v-list>
        </v-dialog>
    </v-row>
</template>

<script>
    import {mapGetters,mapActions} from 'vuex'

    export default {
        name: "AddProductToShipmentDialog",
        props: {
            orderId: {
                type: Object,
                required: true
            },
            shipmentId : {
                type: Object,
                required: true
            }
        },
        data () {
            return {
                dialog: false
            }
        },
        computed: {
            ...mapGetters({
                getProducts: 'getProductsNotInShipment'
            })
        },
        created() {
            this.fetchProducts(this.orderId)

        },
        methods : mapActions('order',['fetchProducts'])
    }
</script>

<style scoped>

</style>