<template>
    <v-item>
        <v-card
                class="mx-auto"
                max-width="344">
            <v-card-title>Product</v-card-title>
            <v-card-text class="font-weight-regular">

                Grade: {{product.grade}}
                <br>
                Region: {{product.region}}
                <br>
                Processing Type: {{product.processingType}}
                <br>
                Number of Bags: {{product.numberOfBags}}
                <br>
                ID: {{product.id.toUpperCase()}}
            </v-card-text>
        </v-card>
    </v-item>

</template>

<script>
    export default {
        name: "ProductCard",
        props: {
            product: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>