<template>
    <v-card>

    </v-card>
</template>

<script>
    export default {
        name: "ProductTotalCard",
        props: {
            products: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>