<template>
    <v-item-group>
        <v-container>
            <v-row>
                <v-col
                        v-for="product in this.products"
                        :key="product.id"
                        cols="12"
                        sm="6"
                        md="4"
                >
                    <product-card :product="product"/>
                </v-col>
            </v-row>
        </v-container>
    </v-item-group>
</template>

<script>
    import {mapState,mapActions} from 'vuex'
    import ProductCard from "./ProductCard";

    export default {
        name: "ProductList",
        props: {
            orderId: {
                type: String,
                required: true
            }
        },
        components: {
            productCard: ProductCard
        },
        created() {
            this.fetchProducts(this.orderId)

        },
        computed: mapState({
            products: state => state.order.products
        }),
        methods : mapActions('order',['fetchProducts'])
    }
</script>

<style scoped>

</style>