<template>
    <v-timeline align-top :dense="true">
        <v-timeline-item
                v-for="event in events"
                :key="event.id"
                fill-dot
        >
            <v-card dark>
                <v-card-title class="title pt-3 pb-3">
                    <h3 class="title">{{ event.eventType }}</h3>
                </v-card-title>
                <v-card-text class="white text--primary">
                    <p class="pt-3 body-1 mb-0">
                        {{ event.notes }}
                    </p>
                </v-card-text>
            </v-card>
        </v-timeline-item>
    </v-timeline>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: "ProductTimeline",
        computed: mapState({
            events: state => state.order.events
        })
    }
</script>

<style scoped>

</style>