<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on }">
      <v-btn color="primary" class="mb-2" dark v-on="on">Create Order</v-btn>
    </template>
    <v-form
        ref="createOrderForm"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Create Order</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Coffee Type"
                              required
                              :rules="[rules.required]"
                              v-model="newOrder.CoffeeType"
                              outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Number of Bags"
                              :rules="[rules.required]"
                              v-model="newOrder.Bags"
                              outlined
                >

                </v-text-field>
              </v-col>


              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Total Weight"
                              required
                              :rules="[rules.required]"
                              v-model="newOrder.TotalWeightInKgs"
                              outlined
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Unit Price"
                              required
                              :rules="[rules.required]"
                              v-model="newOrder.UnitPrice"
                              outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Region"
                              :rules="[rules.required]"
                              v-model="newOrder.Region"
                              outlined
                >

                </v-text-field>
              </v-col>


              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Processing Type"
                              required
                              :rules="[rules.required]"
                              v-model="newOrder.ProcessingType"
                              outlined
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Grade"
                              required
                              :rules="[rules.required]"
                              v-model="newOrder.Grade"
                              outlined
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Crop Year"
                              :rules="[rules.required]"
                              v-model="newOrder.CropYear"
                              outlined
                >

                </v-text-field>
              </v-col>


              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Destination"
                              required
                              :rules="[rules.required]"
                              v-model="newOrder.Destination"
                              outlined
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="postNewOrder()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>


import {mapActions} from "vuex";
import { v4 as uuidv4 } from 'uuid';

export default {
  name: "CreateOrder",
  props: {
    contractId: {
      required: true,
      type: String
    }
  },
  data() {
    return {
      dialog: false,
      newOrder: {
        Bags: 0,
        CoffeeType: '',
        TotalWeightInKgs: 0,
        UnitPrice: 0,
        Region: '',
        ProcessingType: '',
        Grade: '',
        CropYear: 0,
        Destination: ''

      },
      rules: {
        required: value => !!value || 'Required.'
      }
    }
  },

  methods: {
    ...mapActions('contract',['createOrder']),
    postNewOrder() {
      if (this.$refs.createOrderForm.validate()) {
        this.newOrder.Id = uuidv4()
        this.newOrder.Contract = this.contractId
        this.createOrder({order: this.newOrder, contractId: this.contractId})
        this.dialog = false
      }
    }
  }
}
</script>

<style scoped>

</style>
