<template>
  <div class="text-left">
    <v-dialog
        v-model="dialog"
        width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
            color="error"
            dark
            depressed
            v-on="on"
        >
          Delete Order
        </v-btn>
      </template>

      <v-card>
        <v-card-title
            class="headline grey lighten-2"
            primary-title
        >
          DELETE ORDER: {{ orderId }}
        </v-card-title>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="error"
              @click="deleteSingleOrder"
          >
            Delete
          </v-btn>
          <v-btn
              color="primary"
              @click="dialog = false"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

import {routeNames} from '@/routes'
import {mapActions} from "vuex";

export default {
  name: "DeleteOrder",
  data() {
    return {
      dialog: false
    }
  },
  props: {
    orderId: {
      type: String,
      required: true
    },
    contractId: {
      type: String,
      required: true
    }
  },
  methods: {
    ...mapActions('contract', ['deleteOrder']),
    deleteSingleOrder() {
      this.deleteOrder({contractId: this.contractId, orderId: this.orderId})
      this.$router.push({name: routeNames.toContract, params: {contractId: this.contractId}});
    }
  }
}
</script>

<style scoped>

</style>
