<template>
    <div class="container">

        <create-order/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order Id</th>
                <th scope="col">Contract Number</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(order,i) in orders" :key="order.id">
                <th scope="row">{{i}}</th>
                <td>{{ order.id}}</td>
                <td>{{ order.contractNumber}}</td>
                <td>{{order.customerName}}</td>
                <td>{{ order.status}}</td>
                <td>
                    <router-link
                            :to="{
                            name: routeName,
                             params: {orderId: order.id}}"
                            tag="button"
                            class="btn btn-info">
                        View
                    </router-link>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import CreateOrder from "./CreateOrder";
    import {routeNames} from '../../routes';

    export default {
        name: "OrdersList",
        components: {
            createOrder: CreateOrder
        },
        data() {
            return {
                routeName: routeNames.toOrderDetails
            }
        },
        methods: mapActions('order',['fetchOrders']),
        created() {
           this.fetchOrders()
        },
        computed: {
            ...mapState({
                orders: state => state.order.orders
            })
        }
    }
</script>

<style scoped>

</style>