<template>
      <div>
        <v-row
            align="center"
            justify="center"
        >
          <v-col>
            <h1>Order Details</h1>
            <v-card
                outlined
                width="500"
            >
              <v-card-title class="body-1 font-regular">Order# {{orderId.toUpperCase()}}</v-card-title>
              <v-card-text class="body-1 font-regular">
                Bags: {{order.Bags}}
                <br>
                Grade: {{order.Grade}}
                <br>
                UnitPrice: {{order.UnitPrice}}
                <br>
                Coffee Type: {{order.CoffeeType}}
                <br>
                Destination: {{order.Destination}}
                <br>
                Crop Year: {{order.CropYear}}
                <br>
                Total Weight(Kgs): {{order.TotalWeightInKgs}}
                <br>
                Processing Type: {{order.ProcessingType}}

              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <delete-order :order-id="orderId" :contract-id="contractId"></delete-order>
          </v-col>
        </v-row>

      </div>

</template>

<script>
    import {routeNames} from '@/routes'
    import {mapState, mapActions} from 'vuex';
    import DeleteOrder from "./DeleteOrder";



    export default {
        name: "OrderDetails",
        components: {
            deleteOrder: DeleteOrder
        },
        props: {
            orderId: {
                type: String,
                required: true
            },
          contractId : {
              type: String,
              required: true
          }
        },
        methods: mapActions('contract', ['fetchOrder']),
        data() {
            return {
                details: routeNames.toShipmentDetails
            }
        },
        created() {
            this.fetchOrder({contractId: this.contractId, orderId: this.orderId})
        },
        computed: mapState({
            order: state => state.contract.order
        })
    }
</script>

<style scoped>

</style>
