<template>
    <v-container>
        <v-row>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark v-on="on">Shipment Event</v-btn>
                </template>
                <v-form
                        ref="createShipmentLogForm"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">Add Shipment Event</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-overflow-btn
                                                class="my-2"
                                                :items="eventTypes"
                                                label="Event Type"
                                                :rules="[rules.required]"
                                                v-model="eventType"
                                                target="#createShipmentLogForm"
                                        >
                                        </v-overflow-btn>

                                    </v-col>
                                    <v-textarea
                                            v-model="notes"
                                            outlined
                                            name="input-7-4"
                                            label="Notes"
                                            hint="Add Extra information here"
                                    ></v-textarea>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                            <v-btn color="blue darken-1" text @click="postNewShipmentEvent()">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-dialog>
        </v-row>
    </v-container>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "AddShipmentLog",
        props:{
            shipmentId: {
                type: String,
                required: true
            },
            orderId: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                dialog: false,
                eventType:'',
                rules: {
                    required: value => !!value || 'Required.'
                },
                eventTypes: [
                    'ORDER_CREATED_LOG',
                    'PROCESSING_LOG',
                    'PRESHIPMENT_SAMPLE_LOG',
                    'REPROCESSING_LOG',
                    'GOVERNMENT_INSPECTION_LOG',
                    'TRANSIT_TO_PORT_LOG',
                    'AT_PORT_LOG',
                    'SHIPPED_LOG',
                    'PRESHIPMENT_SAMPLE_REJECTION',
                    'GOVERNMENT_INSPECTION_REJECTION'
                ],
                notes:''

            }
        },
        methods: {
            postNewShipmentEvent() {
                //TODO: post shipment event
                if(this.$refs.createShipmentLogForm.validate()) {
                    let shipmentEvent = {
                        eventType: this.eventType,
                        shipmentId: this.shipmentId,
                        eventData: {
                            notes : this.notes
                        }
                    }

                    axios.post('/orders/' + this.orderId + '/shipments/' + this.shipmentId +'/logs', shipmentEvent)
                        .then(response => {
                            this.dialog = false;
                            this.$log.info('Shipment Log Created Successfully' + response.data);
                        })
                        .catch( error => this.$log.error(error))
                }
            },
            add() {
                this.attributes[this.attributeName] = '';
            }
        }
    }

</script>

<style scoped>

</style>