<template>
    <v-container>
        <v-row>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark v-on="on">Add New Shipment</v-btn>
                </template>
                <v-form
                        ref="createShipmentForm"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">Add New Shipment</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Destination*"
                                                      :rules="[rules.required]"
                                                      v-model="newShipment.destination"
                                                      outlined
                                        >

                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Coffee Grade"
                                                      required
                                                      outlined
                                                      v-model="newShipment.grade"
                                        />
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Coffee Type"
                                                      required
                                                      outlined
                                                      v-model="newShipment.coffeeType"
                                        />
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Processing Type"
                                                      required
                                                      outlined
                                                      v-model="newShipment.processingType"
                                        />
                                    </v-col>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Bag Weight"
                                                      required
                                                      outlined
                                                      v-model="newShipment.bagWeight"
                                        />
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Number of Bags"
                                                      required
                                                      outlined
                                                      v-model="newShipment.numberOfBags"
                                        />
                                    </v-col>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field label="Unit Proce"
                                                      required
                                                      hint="Price for 1 unit per Kg/lb"
                                                      outlined
                                                      v-model="newShipment.unitPrice"
                                        />
                                    </v-col>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-menu
                                                ref="menu"
                                                v-model="menu"
                                                :close-on-content-click="false"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                        v-model="newShipment.expectedShipmentDate"
                                                        label="Pick Shipment Date"
                                                        readonly
                                                        v-on="on"
                                                />
                                            </template>
                                            <v-date-picker v-model="newShipment.expectedShipmentDate" no-title scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                                                <v-btn text color="primary" @click="$refs.menu.save(newShipment.expectedShipmentDate)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                            <v-btn color="blue darken-1" text @click="postNewShipment()">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-dialog>
        </v-row>
    </v-container>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "CreateShipment",
        data() {
            return {
                menu: false,
                dialog: false,
                rules: {
                    required: value => !!value || 'Required.'
                },
                newShipment : {
                    orderId:'',
                    destination: '',
                    grade: 0,
                    coffeeType: '',
                    processingType:'',
                    bagWeight: 0,
                    numberOfBags:0,
                    totalQuantity:0,
                    unitPrice:0,
                    certification:'',
                    expectedShipmentDate:''
                }
            }
        },
        methods : {
            postNewShipment() {
                if(this.$refs.createShipmentForm.validate()){

                    this.newShipment.orderId = this.orderId;
                    this.$log.info(this.newShipment);

                    axios.post('/orders/' + this.orderId + '/shipments', this.newShipment)
                        .then(response => {
                            this.dialog = false;
                            this.$log.info('Shipment Created Successfully' + response.data);
                        })
                        .catch( error => this.$log.error(error))
                }
            }
        },
        props: {
            orderId: {
                type: String,
                required: true
            }

        }
    }
</script>

<style scoped>

</style>