<template>
    <v-card
            raised
            outlined
            width="500"
    >
        <v-card-title class="body-1 font-regular">{{shipment.id.toUpperCase()}}</v-card-title>

        <v-card-text class="body-1 font-regular">
            <p>Order ID: {{shipment.orderId}} </p>
            <br>
            Destination: {{shipment.destination}}
            <br>
            Expected Shipment Date: {{shipment.expectedShipmentDate}}
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "ShipmentDetailsCard",
        props: {
            shipment: {
                type : Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>