<template>
    <v-container
            fluid
    >
        <h1>Shipment Details</h1>
        <v-card
                raised
                outlined
        >
            <v-card-title class="headline">{{shipmentId.toUpperCase()}}</v-card-title>

            <v-card-text class="subtitle-1 font-weight-black">
                <p>Order ID: {{shipment.orderId}} </p>
                <br>
                Destination: {{shipment.destination}}
                <br>
                Expected Shipment Date: {{shipment.expectedShipmentDate}}
            </v-card-text>
        </v-card>

        <br>
        <h3>Products</h3>
        <br>

        <v-item-group>
            <v-container>
                <v-row>
                    <v-col
                            v-for="product in this.products"
                            :key="product.id"
                            cols="12"
                            sm="6"
                            md="4"
                    >
                        <v-item>
                            <v-card
                                    class="mx-auto"
                                    max-width="344">
                                <v-card-title>Product</v-card-title>
                                <v-card-text class="font-weight-regular">
                                    ID: {{product.id.toUpperCase()}}
                                    <br>
                                    Grade: {{product.grade}}
                                    <br>
                                    Region: {{product.region}}
                                    <br>
                                    Processing Type: {{product.processingType}}
                                    <br>
                                    Number of Bags: {{product.numberOfBags}}
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn
                                            color="primary"
                                            dark
                                            text
                                    >View Product Timeline
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-item>
                    </v-col>
                </v-row>
            </v-container>
        </v-item-group>

        <br>
        <h3>Product Timeline</h3>
        <br>


        <v-simple-table>
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-left">#</th>
                    <th class="text-left">Event</th>
                    <th class="text-left">Location</th>
                    <th class="text-left">Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="event in events" :key="event.id">
                    <th scope="row">{{i}}</th>
                    <td>{{ event.eventType }}</td>
                    <td>{{ event.notes }}</td>
                    <td>{{ event.location }}</td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>


    </v-container>
</template>

<script>

    import {mapState, mapActions} from 'vuex';


    export default {

        name: "ShipmentDetails",
        props: {
            orderId: {
                required: true,
                type: String
            },

            shipmentId: {
                required: true,
                type: String
            }
        },
        data () {
          return {
              events: [
                  {
                      id: '1234',
                      eventType: 'Created',
                      notes: 'Order Has been created',
                      location: 'Adis Ababa'
                  }
              ]
          }
        },
        methods: mapActions('order', ['fetchShipment', 'fetchProductsByShipment']),
        created() {
            this.fetchShipment({
                orderId: this.orderId,
                shipmentId: this.shipmentId
            });
            this.fetchProductsByShipment({
                orderId: this.orderId,
                shipmentId: this.shipmentId
            })
        },
        computed: mapState({
            shipment: state => state.order.shipment,
            products: state => state.order.products
        })
    }
</script>

<style scoped>

</style>