<template>
    <v-item-group>
        <v-container>
            <v-row>
                <v-col
                        v-for="shipment in this.shipments"
                        :key="shipment.id"
                        cols="12"
                        sm="6"
                        md="4"
                >
                    <v-item>
                        <v-card
                                class="mx-auto"
                                max-width="344"
                        >
                            <v-card-title>Shipment</v-card-title>
                            <v-card-text class="font-weight-regular">
                                ID: {{shipment.id.toUpperCase()}}
                                <br>
                                Destination: {{shipment.destination}}
                                <br>
                                Expected Shipment Date: {{shipment.expectedShipmentDate}}
                            </v-card-text>
                            <v-card-actions>
                                <v-btn
                                        color="primary"
                                        dark
                                        text
                                        :to="{
                                                name: details,
                                                params: {
                                                    orderId: orderId,
                                                    shipmentId: shipment.id
                                                }
                                            }"
                                >View Shipment</v-btn>

                            </v-card-actions>
                        </v-card>

                    </v-item>

                </v-col>
            </v-row>
        </v-container>

    </v-item-group>
</template>

<script>
    import {routeNames} from "../../routes";
    import {mapActions, mapState} from 'vuex'

    export default {
        name: "ShipmentList",
        props : {
            orderId: {
                type: String,
                required: true
            }
        },
        data(){
          return {
              details: routeNames.toShipmentDetails
          }
        },
        created() {
            this.fetchShipments(this.orderId)
        },
        computed: mapState({
            shipments: state => state.order.shipments
        }),
        methods: mapActions('order',['fetchShipments'])
    }
</script>

<style scoped>

</style>