<template>
    <v-item-group>
        <v-container>
            <v-row>
                <v-col
                        v-for="product in this.products"
                        :key="product.id"
                >
                    <v-item>
                        <v-card
                                class="mx-auto"
                                max-width="344">
                            <v-card-title>Product</v-card-title>
                            <v-card-text class="font-weight-regular">
                                ID: {{product.id.toUpperCase()}}
                                <br>
                                Grade: {{product.grade}}
                                <br>
                                Region: {{product.region}}
                                <br>
                                Processing Type: {{product.processingType}}
                                <br>
                                Number of Bags: {{product.numberOfBags}}
                            </v-card-text>
                            <v-card-actions>
                                <v-btn
                                        color="primary"
                                        dark
                                        text
                                        v-on:click="fetchProductEvents({orderId: id,productId: product.id})"
                                >View Product Timeline
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-item>
                </v-col>
            </v-row>
        </v-container>
    </v-item-group>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        name: "ShipmentProductList",
        props:{
            orderId: {
                required: true,
                type: String
            },

            shipmentId: {
                required: true,
                type: String
            }
        },
        data(){
            return{
                id: this.orderId,
                sId: this.shipmentId
            }
        },
        computed: mapState({
            products: state => state.order.products
        }),
        methods: mapActions('order',['fetchProductsByShipment','fetchProductEvents']),
        created() {
            this.fetchProductsByShipment({
                orderId: this.orderId,
                shipmentId: this.shipmentId
            })
        }
    }
</script>

<style scoped>

</style>