<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card
            outlined
            class="mx-auto my-6"
            max-width="374"
        >
          <v-card-title>Contract: {{ contract.ContractId }}</v-card-title>
          <v-card-text class="body-1 font-regular">
            Client Name: {{ contract.ClientName }}
            <br>
            Contract Number: {{ contract.ContractId }}
            <br>
            Financier {{ contract.Financier }}
          </v-card-text>
          <v-card-actions>
            <delete-contract :contract-id="contractId"/>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col>
        <v-card
            outlined
            class="mx-auto my-6"
            max-width="374"
        >
          <v-card-title>Contract Totals</v-card-title>
          <v-card-text>
            Total Weight: {{ totalWeight }}
            <br>
            Total Bags: {{ totalBags }}
            <br>
          </v-card-text>

        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <template>
          <v-data-table
              :headers="headers"
              :items="orders"
              :items-per-page="10"
              class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar
                  flat
              >
                <v-toolbar-title>Orders</v-toolbar-title>
                <v-divider
                    class="mx-4"
                    inset
                    vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <create-order :contract-id="contractId"/>
              </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn
                color="primary"
                :to="{
                  name: orderRoute,
                  params: {
                    contractId: contractId,
                    orderId:item.Id
                  }
                }"
              >
                View
              </v-btn>
            </template>
          </v-data-table>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import CreateOrder from "@/components/orders/CreateOrder";
import {routeNames} from "@/routes";
import DeleteContract from "@/components/contracts/DeleteContract";

export default {
  name: "ContractView",
  components: {DeleteContract, CreateOrder},
  props: {
    contractId: {
      required: true,
      type: String
    }
  },
  methods: {
    ...mapActions('contract', ['fetchOrders', 'fetchContract']),
    weight() {
      if (this.orders) {
        return this.orders.reduce((item1, item2) => ({TotalWeightInKgs: item1.TotalWeightInKgs + item2.TotalWeightInKgs}))
      }

      return 0
    }
  },
  created() {
    this.fetchOrders(this.contractId)
    this.fetchContract(this.contractId)
  },
  computed: {
    ...mapState({
      orders: state => state.contract.orders,
      contract: state => state.contract.contract
    }),

    totalWeight() {
      let length = this.orders.length
      var total = 0
      for (var i = 0; i < length; ++i) {
        let item = this.orders[i]
        total += item.TotalWeightInKgs
      }
      return total
    },

    totalBags() {
      let length = this.orders.length
      var total = 0
      for (var i = 0; i < length; ++i) {
        let item = this.orders[i]
        total += item.Bags
      }
      return total
    }
  },
  data() {
    return {
      headers: [
        {text: 'Order Id', value: 'Id'},
        {text: 'Bags', value: 'Bags'},
        {text: 'Grade', value: 'Grade'},
        {text: 'Price', value: 'UnitPrice'},
        {text: 'Region', value: 'Region'},
        {text: 'Coffee Type', value: 'CoffeeType'},
        {text: 'Destination', value: 'Destination'},
        {text: 'Total Weight', value: 'TotalWeightInKgs'},
        {text: 'Crop Year', value: 'CropYear'},
        {text: 'Processing Type', value: 'ProcessingType'},
        {text: 'Actions', value: 'actions', sortable: false }
      ],
      orderRoute: routeNames.toSingleOrder
    }
  }

}
</script>

<style scoped>

</style>
