<template>
  <v-container>
    <create-contract/>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Contract Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Financier</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(contract,i) in contracts" :key="i">
        <th scope="row">{{i}}</th>
        <td>{{ contract.ContractId}}</td>
        <td>{{contract.ClientName}}</td>
        <td>{{contract.Financier}}</td>
        <td>
          <v-btn
              depressed
              color="primary"
              :to="{
                  name:routeName,
                  params: {contractId:contract.ContractId}
              }"
          >
            View
          </v-btn>
        </td>
      </tr>
      </tbody>
    </table>
  </v-container>
</template>

<script>

  import {mapState, mapActions} from 'vuex'
  import CreateContract from "@/components/contracts/CreateContract";
  import {routeNames} from "@/routes";

export default {
name: "ContractsView",
  components: {CreateContract},
  methods: mapActions('contract',['fetchContracts']),

  created() {
    this.fetchContracts()
  },
  computed: {
    ...mapState({
      contracts: state => state.contract.contracts
    })
  },
  data () {
   return {
     routeName: routeNames.toContract
   }
  }
}
</script>

<style scoped>

</style>