<template>
    <div class="container">
        <!--<h1> Hello : {{oidcUser.profile.name}}</h1>-->
        <hr>
        <router-view></router-view>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';


    export default {
        name: "Orders",
        computed: {
            ...mapGetters('oidcStore', [
                'oidcUser',
                'oidcAccessToken',
            ])
        }
    }
</script>

<style scoped>

</style>