<template>
  <v-container>
    <order-details :orderId="orderId" :contractId="contractId"/>
  </v-container>
</template>

<script>
import OrderDetails from "@/components/orders/OrderDetails";
export default {
name: "OrderView",
  components: {OrderDetails},
  props: {
    orderId: {
      type: String,
      required: true
    },
    contractId: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
