<template>
    <v-container>
        <v-row>
            <v-col>
                <h3>Shipment Details</h3>
            </v-col>
        </v-row>
        <v-row>

            <v-col>
                <details-card :shipment="shipment"/>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                    <v-btn  color="primary">Add Product</v-btn>
            </v-col>
            <v-col>
                    <v-btn  color="error">Remove Product</v-btn>
            </v-col>
            <v-col>
                    <v-btn  color="success">Add Product Event</v-btn>

            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <h3>Products</h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <products-list :order-id="orderId" :shipment-id="shipmentId"/>
            </v-col>
            <v-col>
                <timeline/>
            </v-col>
        </v-row>


    </v-container>
</template>

<script>
    import ShipmentDetailsCard from "../components/shipments/ShipmentDetailsCard";
    import ShipmentProductList from "../components/shipments/ShipmentProductList";
    import ProductTimeline from "../components/products/ProductTimeline";
    import {mapActions, mapState} from 'vuex'

    export default {
        name: "ShipmentView",
        props: {
            orderId: {
                required: true,
                type: String
            },

            shipmentId: {
                required: true,
                type: String
            }
        },
        components :{
            detailsCard: ShipmentDetailsCard,
            productsList: ShipmentProductList,
            timeline: ProductTimeline
        },
        computed: mapState({
            shipment: state => state.order.shipment
        }),
        methods: mapActions('order',['fetchShipment']),
        created() {
            this.fetchShipment({
                orderId: this.orderId,
                shipmentId: this.shipmentId
            });
        }
    }
</script>

<style scoped>

</style>