<template>

  <v-container>
    <v-row>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">Create Contract</v-btn>
        </template>
        <v-form
            ref="createContractForm"
        >
          <v-card>
            <v-card-title>
              <span class="headline">Create Contract</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field label="Client"
                                  :rules="[rules.required]"
                                  v-model="newContract.clientName"
                                  outlined
                    >

                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field label="Contract Number"
                                  required
                                  :rules="[rules.required]"
                                  v-model="newContract.contract"
                                  outlined
                    >
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" sm="6" md="4">
                    <v-text-field label="Financed By"
                                  hint="The Bank Funding this order"
                                  required
                                  :rules="[rules.required]"
                                  v-model="newContract.financier"
                                  outlined
                    />
                  </v-col>

<!--                  <v-col cols="12" sm="4">-->

<!--                    <v-overflow-btn-->
<!--                        class="my-2"-->
<!--                        :items="dropdown_edit"-->
<!--                        label="Currency"-->
<!--                        segmented-->
<!--                        target="#createOrderForm"-->
<!--                    ></v-overflow-btn>-->
<!--                  </v-col>-->
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
              <v-btn color="blue darken-1" text @click="postContract()">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions} from 'vuex'

export default {
name: "CreateContract",
  data() {
    return {
      dialog: false,
      newContract : {
        contract: '',
        clientName:'',
        financier:''
      },
      rules: {
        required: value => !!value || 'Required.'
      }
    }
  },
  methods : {
    ...mapActions('contract',['createContract']),
    postContract(){
      if(this.$refs.createContractForm.validate()){
        this.createContract(this.newContract)
        this.dialog = false;
      }
    }
  }
}
</script>

<style scoped>

</style>
