<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >
    <template v-slot:activator="{ on }">
      <v-btn
          color="error"
          dark
          depressed
          v-on="on"
      >
        Delete Contract
      </v-btn>
    </template>

    <v-card>
      <v-card-title
          class="headline grey lighten-2"
          primary-title
      >
        DELETE CONTRACT: {{contractId}}
      </v-card-title>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="error"
            @click="deleteSingleContract"
        >
          Delete
        </v-btn>
        <v-btn
            color="primary"
            @click="dialog = false"
        >
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapActions} from "vuex";
import {routeNames} from "@/routes";

export default {
name: "DeleteContract",
  data() {
    return {
      dialog : false
    }
  },
  props: {
    contractId: {
      type: String,
      required : true
    }
  },
  methods : {
    ...mapActions('contract',['deleteContract']),
    deleteSingleContract() {
      this.deleteContract(this.contractId)
      this.$router.push({name: routeNames.toContracts});
    }
  }
}
</script>

<style scoped>

</style>
