<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <router-link to="/"  active-class="active" exact class="nav-link">Home<span class="sr-only">(current)</span></router-link >
                </li>

                <li class="nav-item">
                    <router-link to="/order"  active-class="active" exact class="nav-link">Orders</router-link>
                </li>

                <li class="nav-item">
                    <router-link to="/hello"  active-class="active" exact class="nav-link">Hello</router-link>
                </li>


            </ul>

        </div>
    </nav>

</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>

</style>