<template>
    <v-container fluid>

        <v-flex v-if="this.oidcIsAuthenticated()" mb-4 class=".justify-center">
            <h1> Hello : {{oidcUser().username}}</h1>
        </v-flex>
        <v-flex v-else class=".justify-center" mb-4>
            <h1 class="display-2 font-weight-bold mb-3">
                Welcome Dayebensa Order Management System
            </h1>
            <p class="subheading font-weight-regular">
                This system is used to creat and maintain coffee orders
            </p>
            <v-btn color="primary" @click="authenticateOidc">Sign In</v-btn>
        </v-flex>
    </v-container>
</template>

<script>
    import {mapActions, mapMutations, mapGetters} from 'vuex';

    export default {
        name: "Home",
        methods: {
            ...mapActions('oidcStore', [
                'authenticateOidc',
                'removeOidcUser'
            ]),
            ...mapMutations('order', [
                'startLoading',
                'stopLoading'
            ]),
            ...mapGetters('oidcStore', [
                    'oidcIsAuthenticated',
                    'oidcAccessToken',
                    'oidcUser'
                ]
            )
        }

    }
</script>

<style scoped>

</style>