<template>
    <v-navigation-drawer
        v-model="drawer"
        :color="color"
        :app="app"
        dark
        permanent

        v-if="isAuthenticated"
    >
        <v-list
                dense
                nav
                class="py-0"
        >
            <v-list-item two-line>
                <v-list-item-avatar>
                    <img src="https://randomuser.me/api/portraits/men/16.jpg">
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>{{oidcUser.username}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    link
                    :to="item.navigationUrl"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>


    </v-navigation-drawer>
</template>

<script>

    import {mapGetters} from 'vuex';

    export default {
        name: "NaviagtionDrawer",
        props: {
            isAuthenticated : {
                type: Boolean,
                required: true
            }
        },
        data() {
            return {
                app:true,
                drawer: true,
                color : 'success',
                items : [
                    {title: 'Home', icon: 'mdi-home', navigationUrl:'/'},
                    // {title: 'Orders', icon: 'mdi-clipboard-text-multiple-outline',navigationUrl: '/order'},
                    {title: 'Hello', icon:'mdi-human-greeting', navigationUrl: '/hello'},
                    {title: 'Contracts', icon: 'mdi-file-document', navigationUrl: '/contracts'}
                ]
            }
        },
        computed: {
            ...mapGetters('oidcStore', [
                'oidcUser'
            ])
        }
    }
</script>

<style scoped>

</style>
