<template>
    <div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';


    export default {
        name: "OidcCallback",
        methods: {
            ...mapActions('oidcStore', [
                'oidcSignInCallback'
            ]),
        },
        mounted() {
            this.oidcSignInCallback()
                .then((redirectPath) => {
                    this.$log.info(redirectPath);
                    this.$router.push(redirectPath);
                })
                .catch((err) => {
                    this.$log.error(err);
                })
        }

    }
</script>

<style scoped>

</style>