<template>
    <v-app>

        <v-container fluid>
            <navigation-drawer :is-authenticated="oidcIsAuthenticated"/>
            <v-content>
                <router-view/>
            </v-content>
        </v-container>


    </v-app>
</template>

<script>

    import NaviagtionDrawer from "./components/NaviagtionDrawer";
    import {mapGetters, mapActions} from 'vuex';



    export default {
        name: 'App',

        components: {

            navigationDrawer: NaviagtionDrawer
        },

        data() {
            return {}
        },
        computed: {
            ...mapGetters('oidcStore', [
                'oidcIsAuthenticated',
                'oidcAccessToken'
            ])
        },
        methods: {
            ...mapActions('oidcStore', [
                'authenticateOidc',
                'removeOidcUser'
            ])
        }

    };
</script>
